{% extends 'base.html.twig' %}

{% block title %}Administrations{% endblock %}

{% block body %}
<h2 class="mt-3">Administration</h2>

<div class="d-flex justify-content-between">
    <a href="{{path('categorie')}}" class="btn btn-sm btn-success">Gestions des categorie </a>
    <a href="" class="btn btn-sm btn-danger">Gestions des utilisateurs</a>
</div>
{% endblock %}